<div class="search_form_new">
  <div>
    <%= image_tag "no_image.jpeg", style: "width: 30px;"%>
  </div>
  <div>
    <input type="text" class="input_form"　placeholder="キーワードやクリエイターで検索" >
  </div>
</div>