<div style="flex:4;">
  <% if params[:model] == 'user' %>
    <h3>"<%= params[:keyword] %>"ユーザーの検索結果</h3>
    <% if @records.exists? %>
        <%= render 'user/users/index', users: @records %>
    <% else %>
    　　<p>一致するユーザーが存在しません</p>
  　<% end %>
  <% elsif params[:model] == 'post' %>
    <h3>"<%= params[:keyword] %>"を含むポストの検索結果</h3>
    <% if @records.exists? %>
        <%= render 'user/posts/posts', posts: @records %>
    <% else %>
    　　<p>一致するポストが存在しません</p>
  　<% end %>
  <% end %>
</div>