<div class="row" style="margin-top: 5rem; max-width: 90%;" >
  <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "PF_image_logo.png", size: "500x500" %>
  </div>

  <div style="width: 50%; display: flex; justify-content: center; ">
    <div style="width: 100%; margin-top: 43px;">
    <h2>en:wealthy（エンウェルフィ）の概要</h2>
    <h3>ユーザーが業界に関する最新の情報をシェアし、<br>ユーザー同士が繋がれるSNSサービス</h3>
    <h3>「en:wealthy」の由来</h3>
    <h4>en = envilonment 環境、wealthy = 豊か、という意味を持たせております。<br>容姿だけではなく、心から磨かれた人こそが真に美しいという意味を込めて命名しました。</h4>
    <h3>ロゴの意味</h3>
    <h4>en:wealthyの[e]と[w]を取り作ってあります。[w]を人に見立てて[e]で囲うように和を表しています。<br>色に関しましても意味を持たせました。優しさの色、自由の色として淡い青色を選びました。淡い青色は空でもよく見かけ
    ます。空では手を伸ばしても届かないですが人間は夢に向かい手を伸ばし掴むことができるので進み続け成長を辞めず高みを目指していただけたら幸いです。 </h4>
    </div>
  </div>
  <div style="text-align:center;">All rights reserved.   ©2024 Aoi Kawata</div>