<div class="about">
  ### サービス名「en:wealthy」の由来aboutに記載のためaboutを作り次第削除
  　en = envilonment 環境、wealthy = 豊か、となっております。
  自身の環境、心の豊かさ、環境を変え心を磨き真に人のためを思う人が増えて頂けたらと思いを持ち命名しました。  
  　ロゴマークに関しましてはen:wealthyのeとwを取り作ってあります。安直ですがwを人に見立ててeで囲うように和を表しています。
  色に関しましても意味を持たせました。優しさの色の作詞作曲を手掛けた方の色として淡い青色を選びました。淡い青色は空でもよく見かけ
  ます。空では手を伸ばしても届かないですが人間は夢に向かい手を伸ばし掴むことができるので進み続け成長を辞めず高みを目指していただけたら幸いです。  
</div>
