<!--image tagをいれる-->
  
  <a href="<%= new_user_registration_path %>" class="btn btn-flat"><span>アカウントの作成</span></a>
  <a href="<%= new_user_session_path %>" class="btn btn-flat"><span>ログイン</span></a>